.black {
    font-weight: bold;
}

.list-star {
    list-style-type: none;
    display: inline;
    margin-right: 5px;
}

.platform {
    margin-right: 5px;
}

.platform:first-child {
    margin-left: 5px;
}