<div class="card-columns">
    <app-game-card [games]="games" *ngFor="let games of games"></app-game-card>
</div>

<!-- <ul class="pagination">
    <li class="page-item">
        <a class="page-link" [routerLink]="['/games', prev]">&laquo;</a>
    </li>
    <li class="page-item" *ngFor="let num of number_pages">
        <a class="page-link" [routerLink]="['/games', gameslist]" href="">{{ page }}</a>
    </li>

    <li class="page-item">
        <a class="page-link" [routerLink]="['/games', next]">&raquo;</a>
    </li>
</ul> -->